<launch>
    <node name="usb_cam" pkg="usb_cam" type="usb_cam_node" output="screen" >
        <param name="video_device" value="/dev/video0" />
        <param name="image_width" value="640" />
        <param name="image_height" value="480" />
        <param name="pixel_format" value="yuyv" />
        <param name="color_format" value="yuv422p" />
        <param name="camera_frame_id" value="usb_cam" />
        <param name="io_method" value="mmap"/>
    </node>

        <!-- 启动 rosserial_arduino 节点，指定串口端口 -->
    <node pkg="rosserial_arduino" type="serial_node.py" name="rosserial" output="screen">
        <param name="port" value="/dev/ttyUSB0" />
    </node>

</launch>